/* Basic style guideline for elements */
body {
  background-color: #0d192c;
  font-family: "Outfit", sans-serif;
}

hr {
  border-top: 1px solid #979797;
  width: 302px;
  margin: 1% 24px 16px;
}

h1 {
  color: white;
  text-align: left;
  padding: 0 24px;
  font-size: 22px;
  font-weight: 600;
}

p {
  padding: 0 24px;
  color: #8bacd9;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
}

/* Image section styling of Equilibrium */
#eth-box {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.equilibrium-box {
  position: relative;
  width: 21.875rem;
  height: 37.25rem;
  border: solid #15263f;
  border-radius: 8px;
  background-color: #15263f;
}

.equilibrium-img {
  width: 302px;
  height: 302px;
  border-radius: 8px;
  margin: 24px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.eye-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  margin: 24px;
  opacity: 0;
  background-color: #00fff8;
  width: 302px;
  height: 302px;
  border-radius: 8px;
}

.img-container:hover .eye-icon {
  opacity: 0.6;
}

.fa-eye {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Text section styling under image */
.equilibrium-headings {
  padding: 0 24px 16px 24px;
}

.equilibrium-headings:hover {
  color: #00fff8;
}

.equilibrium-description {
  padding: 0 1.5rem 0.625rem 1.5rem;
}

.number-eth-days {
  font-size: 18px;
  clear: both;
}

.eth-icon {
  float: left;
  margin: 3px 7.48px 0 24px;
}

.number-eth {
  color: #00fff8;
  font-weight: 600;
}

.clock-icon {
  float: left;
  margin: 3px 7.48px 0 35px;
}

.eth-days-left {
  text-align: right;
}

/* Creators styling section of Eth */
.creator-img {
  width: 33px;
  height: 33px;
  float: left;
  margin: 0.5rem 1rem 2rem 24px;
}

.creator-p {
  padding: 0.7rem 4.375rem 39px 1.5rem;
}

.hover-creator {
  color: white;
}

.hover-creator:hover {
  color: #00fff8;
}

/* Footer section */
#footer {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
